// Style guide
$logo-blue: #0080b1;
$medium-blue: #72cdf4;
$light-blue: #acdff8;

$purple: #4b1f67;
$orange: #fc6607;
$green: #79bc31;
$magenta: #c7014f;
$dark-blue: #002643;




// Palette
$red: #d23e1d;
$blue:#0f83ea;

$grey-light: #d2d2d2;


$request-requested: $orange;
$request-scheduled: $logo-blue;
$request-shipped: $green;
$request-cancelled: $red;
